$main-background: linear-gradient(161.18deg, #FFFFFF -1.29%, #C7E4FF 97.17%);



#root {

  text-align: center;
}

body {
  background: white;
  width: 100vw;
  overflow-x: hidden;
  /*  display: flex;
  justify-content: center; */


}